// These colors are specific to the theme. Do not use in a package!

@white: #E7E8EB;
@very-light-gray: #D1D1D1;
@light-gray: #BAC3CF;
@gray: #75777D;
@dark-gray: #666A74;
@very-dark-gray: #2F343F;

@cyan: #27DEDE;
@blue: #4084D6;
@light-blue: #8ABEE5;
@green: #16c98d;
@red: #CC575D;
@light-red: #D7787D;
@yellow: #FFC83F;
